{% extends "layout.html" %}

{% block title %}
  <title>Start | MyWeatherPy App</title>
{% endblock %}

{% block content %}
  <h2>Start</h2>

  <form action="/results" method="POST">

    <label>Welcome to MyWeatherPy. We are here to help you to provide information\n"
        "about your curiosity in the weather condition anywhere. Please enter the zipcode</label>
    <select name="choice">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>

    <button>Submit</button>
  </form>
{% endblock %}